@{
    Layout = "~/Views/Shared/minMall.cshtml";
}


    <main class="container">
    <!--https://www.w3schools.com/css/css_inline-block.asp-->
    <h3 style="display: inline-block;">Horoscopes for </h3>
    <h3 id="date-display" style="display: inline-block;"></h3>

        <p>This is a brief overview of today's celestial insights. Dive in and discover what the stars have in store for you.</p>
        <ul>
            <li>Immerse yourself in the world of astrology.</li>
            <li> Gain valuable insights into love, career, and personal growth.</li>
            <li>Our horoscopes provide guidance and inspiration for every zodiac sign.</li>
        </ul>

        <div class="row mb-2">
            <div class="col-md-6">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary-emphasis"></strong>
                        <h3 class="mb-0">Aries</h3>
          
                        <div class="mb-1 text-body-secondary" id=" date-display"></div>
              

                        <p class="card-text mb-auto">You're feeling ambitious and ready to tackle new challenges, Aries. This is a great time to set your goals and take action towards achieving them. Your energy and enthusiasm will be your driving force this month.</p>
                        <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
                            Continue reading
                            <svg class="bi"><use xlink:href="#chevron-right" /></svg>
                        </a>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                            <title>Placeholder</title>
                        <image href="@Url.Content("~/Bilder/ExamPicture.jpg")" width="100%" height="100%" />
                        </svg>

                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-success-emphasis"></strong>
                        <h3 class="mb-0">Taurus</h3>
                       

                        <p class="mb-auto">Taurus, this day is all about stability and security for you. You'll find comfort in your routines and the familiar. It's a good time to focus on your finances and make practical decisions for your future.</p>
                        <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
                            Continue reading
                            <svg class="bi"><use xlink:href="#chevron-right" /></svg>
                        </a>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                            <title>Placeholder</title>
                        <image href="@Url.Content("~/Bilder/ExamPicture.jpg")" width="100%" height="100%" />
                        </svg>

                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-6">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary-emphasis"></strong>
                        <h3 class="mb-0">Gemini</h3>
                       
                        <p class="card-text mb-auto">You're in your element, Gemini, as your curiosity and communication skills shine this month. It's a great time for networking, learning, and exploring new ideas. Your adaptability will be your strength.</p>
                        <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
                            Continue reading
                            <svg class="bi"><use xlink:href="#chevron-right" /></svg>
                        </a>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                            <title>Placeholder</title>
                        <image href="@Url.Content("~/Bilder/ExamPicture.jpg")" width="100%" height="100%" />
                        </svg>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-success-emphasis"></strong>
                        <h3 class="mb-0">Cancer</h3>
                      
                        <p class="mb-auto">Cancer, you're feeling emotional and nurturing this month. Your focus is on family and home matters. It's a good time to create a cozy and loving atmosphere in your living space. This is a great time to take action.</p>
                        <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
                            Continue reading
                            <svg class="bi"><use xlink:href="#chevron-right" /></svg>
                        </a>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                            <title>Placeholder</title>
                        <image href="@Url.Content("~/Bilder/ExamPicture.jpg")" width="100%" height="100%" />
                        </svg>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-6">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary-emphasis"></strong>
                        <h3 class="mb-0">Leo</h3>
                  
                        <p class="card-text mb-auto">Leo, your charisma and self-confidence are on fire this month. You'll be the center of attention and can easily charm your way into new opportunities. Embrace your creativity and let it shine.</p>
                        <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
                            Continue reading
                            <svg class="bi"><use xlink:href="#chevron-right" /></svg>
                        </a>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                            <title>Placeholder</title>
                        <image href="@Url.Content("~/Bilder/ExamPicture.jpg")" width="100%" height="100%" />
                        </svg>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-success-emphasis"></strong>
                        <h3 class="mb-0">Virgo</h3>
                  
                        <p class="mb-auto">Virgo, it's time to get organized and pay attention to the details. Your practicality and analytical skills will serve you well. Focus on your health and well-being, both mentally and physically.</p>
                        <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
                            Continue reading
                            <svg class="bi"><use xlink:href="#chevron-right" /></svg>
                        </a>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                            <title>Placeholder</title>
                        <image href="@Url.Content("~/Bilder/ExamPicture.jpg")" width="100%" height="100%" />
                        </svg>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-6">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary-emphasis"></strong>
                        <h3 class="mb-0">Libra</h3>
                       
                        <p class="card-text mb-auto">Libra, balance and harmony are your keywords this month. You'll be seeking fairness and justice in all areas of your life. It's a good time to strengthen your relationships and make peace with others.</p>
                        <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
                            Continue reading
                            <svg class="bi"><use xlink:href="#chevron-right" /></svg>
                        </a>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                            <title>Placeholder</title>
                        <image href="@Url.Content("~/Bilder/ExamPicture.jpg")" width="100%" height="100%" />
                        </svg>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-success-emphasis"></strong>
                        <h3 class="mb-0">Scorpio</h3>
                      
                        <p class="mb-auto">Scorpio, your intensity and determination are at their peak. You're ready to dive deep and uncover hidden truths. Use your intuition to guide you in making important decisions. Take action</p>
                        <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
                            Continue reading
                            <svg class="bi"><use xlink:href="#chevron-right" /></svg>
                        </a>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                            <title>Placeholder</title>
                        <image href="@Url.Content("~/Bilder/ExamPicture.jpg")" width="100%" height="100%" />
                        </svg>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-6">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary-emphasis"></strong>
                        <h3 class="mb-0">Sagittarius</h3>
                 
                        <p class="card-text mb-auto">Sagittarius, your adventurous spirit is calling you to explore new horizons. Travel and learning opportunities are abundant. Embrace change and embrace the unknown.</p>
                        <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
                            Continue reading
                            <svg class="bi"><use xlink:href="#chevron-right" /></svg>
                        </a>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                            <title>Placeholder</title>
                        <image href="@Url.Content("~/Bilder/ExamPicture.jpg")" width="100%" height="100%" />
                        </svg>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-success-emphasis"></strong>
                        <h3 class="mb-0">Capricorn</h3>
                        <p class="mb-auto">Capricorn, you're focused on your career and ambitions this month. Hard work and discipline will lead to success. Set your goals and take steps toward achieving them.</p>
                        <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
                            Continue reading
                            <svg class="bi"><use xlink:href="#chevron-right" /></svg>
                        </a>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                            <title>Placeholder</title>
                        <image href="@Url.Content("~/Bilder/ExamPicture.jpg")" width="100%" height="100%" />
                        </svg>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-6">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary-emphasis"></strong>
                        <h3 class="mb-0">Aquarius</h3>
                  
                        <p class="card-text mb-auto">Aquarius, your innovative and humanitarian nature shines this month. You'll be inspired to make a difference in your community and the world. Embrace your uniqueness and think outside the box.</p>
                        <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
                            Continue reading
                            <svg class="bi"><use xlink:href="#chevron-right" /></svg>
                        </a>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                            <title>Placeholder</title>
                        <image href="@Url.Content("~/Bilder/ExamPicture.jpg")" width="100%" height="100%" />
                        </svg>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-success-emphasis"></strong>
                        <h3 class="mb-0">Pisces</h3>
                    
                        <p class="mb-auto">Pisces, your intuition and creativity are your guiding forces this month. You'll find inspiration in your dreams and imagination. Trust your inner wisdom and let your artistic side flourish. Take action! </p>
                        <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
                            Continue reading
                            <svg class="bi"><use xlink:href="#chevron-right" /></svg>
                        </a>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                            <title>Placeholder</title>
                        <image href="@Url.Content("~/Bilder/ExamPicture.jpg")" width="100%" height="100%" />
                        </svg>
                    </div>
                </div>
            </div>
        </div>

</main>

<!--Footer -->
<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
            <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
                <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap" /></svg>
            </a>
            <span class="mb-3 mb-md-0 text-body-secondary">&copy; 2023 Alice Astrology, Inc</span>
        </div>
    </footer>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="javascript.js"></script>
<script src="~/js/visaMerMindreKnapp.js"></script>
<script src="~/js/date.js"></script>
<script src="/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

